@font-face
{
    font-family: 'BallparkWeiner';
    src: url('fonts/ballpark.eot');
    src: url('fonts/ballpark.eot?#iefix') format('embedded-opentype'),
         url('fonts/ballpark.woff') format('woff'),
         url('fonts/ballpark.ttf') format('truetype'),
         url('fonts/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('fonts/dayrom.eot');
    src: url('fonts/dayrom.eot?#iefix') format('embedded-opentype'),
         url('fonts/dayrom.woff') format('woff'),
         url('fonts/dayrom.ttf') format('truetype'),
         url('fonts/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}


body{
	background: black;
	font-family: 'TrebucherMS', Arial, sans-serif;
	color: #181818;
}

#encavezado{
	width: 900px;
	margin: auto;
}

section h1, footer h1{
	font-family: "Dayrom",serif;
	font-weight: normal;
	text-transform: uppercase;
}

header{
	background: url('img/line.png') repeat-x bottom;
}

header h1{
	font-family: 'BallparkWeiner', serif;
	font-size: 2.5em;
	font-weight: normal;
    color: white;

}

header h2{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}
#titulo{
	display: inline-block;
}


 #imagen{
 	
 	height: 300px;
 	border-radius: 5px;
 	background: url('img/sumurai.jpg') no-repeat;
 	position: relative;
 	box-shadow: 0px 4px 4px #1c1a19;
    width: 800px;
    margin: auto;
    margin-top: 15px;
 }
 section{
    color: white;
 }

 article, aside{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}

article{
    width: 625px;
    margin-right: 15px;
}

article p
{
    font-size: 0.8em;
}

aside
{
    margin-top: 20px;
    position: relative;
    width: 235px;
    background-color: white;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: black;
    font-size: 0.9em;
}
aside img
{
    margin-right: 5px;
}